<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Real time search</title>
  </head>
  <body>
    <div id="app">
      <p v-if="toggle">hello!</p>
      <p v-else>v-elseはifの次の要素にないと機能しない。</p>

      <p v-if="color === 'red'">Stop</p>
      <p v-else-if="color === 'yellow'">Caution</p>
      <p v-else-if="color === 'blue'">Go</p>
      <p v-else>Not red/yellow/blue</p>

      <p v-show="toggle">v-showはdisplayの切り替え</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="js/main.js"></script>
  </body>
</html>
