<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Real time search</title>
  </head>
  <body>
    <div id="app">
      <p>{{ counter }}</p>
      <p>{{ message }}</p>

      <!-- 引数無しでイベントオブジェクトを送る -->
      <button v-on:click="clickHandler">
        Click!
      </button>

      <!-- 引数をイベンドハンドラへと送る -->
      <button v-on:click="clickHandler2('Vue.js!')">
        Click!
      </button>

      <!-- イベントオブジェクトと引数を送る -->
      <button v-on:click="clickHandler3($event, 'Vue.js!')">
        Click!
      </button>

      <p>様々なイベント修飾子がある</p>
      <ul>
        <li>once 一度だけ呼べる</li>
        <li>keyup 修飾子のものが押されたときイベント実行</li>
        <li></li>
      </ul>
      <button v-on:click.once="clickHandler3($event, 'Vue.js!')">
        Click!
      </button>


      <!-- keycodeが27のものはEsc、escと指定しても良い -->
      <!-- .をつなげればor条件となる -->
      <input type="text" v-on:keyup.esc.space.up="clear" v-model="message">

      <!-- ctrlといったものはシステム系なので、＆条件 -->
      <input type="text" v-on:keyup.ctrl.c="clear" v-model="message">

      <div v-on:click.shift="clear">このdiv要素をshiftを押しながらクリックするとイベント実行</div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="js/main.js"></script>
  </body>
</html>
